.close_container {
    background-color: rgb(80, 77, 77);
    border-radius: 50%;
    padding: 4px;
    margin-right: 20px;
    .close{
        cursor: pointer;
        width: 40px;
        height: 40px;
        span{
            position: relative; 
            width: 30px;
            height: 30px;
            left: 5px;
            top: 30px;
        }
        span::before{
            position: absolute;
            content: '';
            width: 28px;
            height: 2px;
            bottom: 10px;
            left: 0;
            background-color: #f1eded;
            transform: rotate(45deg);
        }
        span::after{
            content: '';
            position: absolute;
            width: 28px;
            height: 2px;
            top: -12px;
            left: 0;
            background-color: #f1eded;
            transform: rotate(-45deg);
        }
    }
    .close:hover{
        span::before{
            position: absolute;
            content: '';
            width: 24px;
            height: 2px;
            bottom: 10px;
            left: 3px;
            background-color: #f1eded;
            transform: rotate(45deg);
            transform: 1s all;
        }
        span::after{
            content: '';
            position: absolute;
            width: 24px;
            height: 2px;
            top: -12px;
            left: 3px;
            background-color: #f1eded;
            transform: rotate(-45deg);
            transform: 1s all;
        }
    }
}

.close_container.active {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-radius:0%;
    .close{
        background-color: rgb(80, 77, 77);
        border-radius: 50%;
        padding: 2px;
    }
}

.modalConfirm_wrapper{
    z-index: 110;
    transition: 1s all;
    display: none;
    .modalConfirm{
        transition: 1s all;
        transform: scale(0);
        span{
            P{
                font-size: 18px;
                margin: 5px 0px;
            }
        }
        .confirm_clearCart{
            span{
                text-align: center;
            }
        }
        .clear_warn{
            margin-top: 15px;
            display: flex;
            justify-content: center;
            padding: 10px;
            span{
                font-size: 14px;
                display: flex;
                align-items: center;
            }
            button{
                background-color: rgb(7, 158, 7);
                margin-left: 10px;
                cursor: pointer;
                padding: 14px 20px;
            }
        }
    }
}

.modalConfirm_wrapper.active{
    transition: 1s all;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    .modalConfirm{
        transition: 1s all;
        transform: scale(1);
        min-width: 400px;
        padding: 20px;
        background-color: white;
        border-radius: 1em;
        .info{
            padding: 20px;
            li{
                font-size: 18px;
                margin-top: 10px;
            }
        }
    }
}

.WarningMessage{
    margin-top: 40px;
    .content{
        margin: 0 auto;
        width: 70%;
        padding: 16px 50px;
        border-radius: 1em;
        background-color: rgb(211, 56, 56);
        display: flex;
        align-items: center;
        justify-content: center;
        .icon{
            margin-right: 5px;
        }
    }
}

.nothingSearch{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    .icon_container{
        margin-left: 40px;
        padding: 10px;
    }
}